#open-modal-button {
    border: none;
    background: white;
}

#close-modal-button {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    top: 1rem;
    border: none;
    background: white;
}

.modal-info-1 {
    font-size: 1rem;
}

.modal-info-2 {
    font-size: 0.7rem;
    line-height: 2;
}

@media only screen and (max-width: 600px) {
    #modal {
        width: 100%;
    }

    #modal-title {
        padding: 1rem;
    }

    .modal-info-1 {
        padding: 0 1rem;
        line-height: 1;
    }
    
    .modal-info-2 {
        padding: 1rem;
        line-height: 1;
    }
}

