#search {
    float: left;
}

#search-bar {
    padding: 0.3rem;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

#search-button {
    border: none;
    background:transparent;
}

#info-button {
    float: left;
}