.weather-card {
    min-width: 30%;
    margin: auto;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(199,191,199,0.5);
    -moz-box-shadow: 0px 0px 10px 5px rgba(199,191,199,0.5);
    box-shadow: 0px 0px 10px 5px rgba(199,191,199,0.5);
    margin-top: 2rem;
}

.city-name {
    text-align: left;
    margin-left: 2rem;
    font-size: 2rem;
    line-height: 0;
}

.error {
    margin-top: 0;
}

.current-date-and-description {
    text-align: left;
    margin-left: 2rem;
    margin-top: 1rem;
    line-height: 0.5;
    text-transform: capitalize;   
    font-size: 1rem;
    color: gray;
}

.temperature-and-icon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "temperature weather-icon";
    place-items: center;
    grid-gap: 35%;
}

.temperature {
    grid-area: temperature;
    font-size: 4rem;
    width: 100%;
    margin-left: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.weather-icon {
    grid-area: weather-icon;
    transform: scale(1.2);
    margin-right: 2rem;
}

.wind-speed {
    text-align: left;
    margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
    .weather-card {
        width: 100%;
    }
    
    .temperature {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 600px) {
    .weather-card {
        width: 90%;
    }
    
    .temperature {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 768px) {
    .weather-card {
        width: 75%;
    }

    .temperature {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 992px) {
    .weather-card {
        width: 60%;
    }

    .temperature {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1500px) {
    .weather-card {
        width: 50%;
    }

    .temperature {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1600px) {
    .weather-card {
        width: 30%;
    }

    .temperature {
        font-size: 4rem;
    }
} 